# Copy this file to .env and adjust values for your local environment

WEB_PORT=8888
SERVER_NAME=localhost
APP_DOCUMENT_ROOT=/app/public

DB_HOST=mysql
DB_NAME=appname
DB_USER=user
DB_PASS=password

MYSQL_ROOT_PASSWORD=password
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=appname
MYSQL_PORT=3325

REDIS_HOST=redis
REDIS_PORT=6379

SMTP_HOST=mailpit
SMTP_PORT=1025
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

ADMINER_PORT=8080

INSTALL_XDEBUG=false
INSTALL_IMAGICK=false
