# Copy this file to .env and adjust values for your local environment

DB_HOST=mysql
DB_NAME=appname
DB_USER=user
DB_PASS=password

MYSQL_ROOT_PASSWORD=password
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=appname

WEB_PORT=8888
MYSQL_PORT=3325
